*{
	padding:0px;
	margin:0px;
}
body {
    overflow:hidden;
}
#cas {
	display:block;
	border:1px solid;
	margin:auto;
	background-color:#000
}
.showBg {
	background-color:transparent !important;
}
.showSomething {
	position:fixed;
	left:20px;
	top:20px;
}
.game {
	width:480px;
	margin:auto;
	height:640px;
	position:relative;
}
.movebg {
	width:100%;
	height:210%;
	background:url(../image/bg.jpg);
	background-size:100% 50%;
	position:absolute;
	top:0px;
	//背景循环滚动
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-webkit-animation:bganimate 10s infinite linear;
	animation:bganimate 10s infinite linear;
	-moz-animation:bganimate 10s infinite linear;
	z-index:-1;
}
#point {
	width:100%;
	height:50px;
	position:absolute;
	top:0px;
	color:#FFF;
	font:20px "微软雅黑";
	display:none;
}
#menu {
	position:absolute;
	top:50px;
	width:100%;
	height:500px;
	text-align:center;
	color:#FFF;
	font:20px "微软雅黑";
	display:none;
}
.menuItem {
	display:inline-block;
	width:180px;
	height:60px;
	background-color:#CCC;
	color:#000;
	cursor:pointer;
	line-height:60px;
	border-radius:10px;
	border:5px solid #FFF;
}
.menuItem:hover{
	color:#f00;
}
.showSomething {
	display:none;
}
#god {
	position:absolute;
	display:block;
	right:-150px;
	top:100px;
	width:140px;
	text-align:center
}
#verygod {
	position:absolute;
	display:block;
	right:-150px;
	top:150px;
	width:110px;
	text-align:center
}
#pretygod {
	position:absolute;
	display:block;
	right:-150px;
	top:200px;
	width:140px;
	text-align:center
}
#nogod {
	position:absolute;
	display:block;
	right:-150px;
	top:250px;
	width:140px;
	text-align:center
}
@-webkit-keyframes bganimate {
	from {
	-webkit-transform:translateY(-50%);
}
to {
	-webkit-transform:translateY(0);
}
}@-moz-keyframes bganimate {
	from {
	-webkit-transform:translateY(-50%);
}
to {
	-webkit-transform:translateY(0);
}
}
